@model IEnumerable<string>

@* MS searches for 'ViewComponent' views by the 'Default' name under the 'Components/{ViewComponentNameFirstPart}' *@
<a class="btn btn-block btn-outline-secondary" asp-action="List" asp-controller="Product" asp-route-category="">Home</a>

@foreach (string category in Model)
            {
                <a class="btn btn-block @(category == ViewBag.SelectedCategory  ? "btn-primary": "btn-outline-secondary")" btn-outline-secondary" asp-action="List" asp-controller="Product" asp-route-category="@category" asp-route-page="1">@category</a>
            }